<!doctype html>
<html lang="en">
  {% include 'header.html' %}
  <body>
    <h1>Hello, world!</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <div class="row">
    {% for image in image_collection %}
      <div class="col-xs-6 col-md-3">
	<a href="#" class="thumbnail">
            <img src="/static/img/{{ image }}">
	</a>
      </div>
    {% endfor %}
    </div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--
    <script src="js/bootstrap.min.js"></script>
    -->
  </body>
</html>
