<!doctype html>
<html lang="en">
  {% include 'header.html' %}
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <div class="row">
      <div class="col-xs-3 col-md-3">

        <div class="row">

          <div class="col-xs-12 col-md-12">
            <a href="#" class="thumbnail">
                <img src="/favicon.ico" id="top_img">
            </a>
          </div>

          <div class="col-xs-12 col-md-12">
            <a href="#" class="thumbnail">
                <img src="/favicon.ico" id="bottom_img">
            </a>
          </div>

        </div>

      </div>
      <div class="col-xs-9 col-md-9">

        <form method="POST">
            <div class="form-group">
                <label>TOP: {{ top_name }}<label> <br>
                <input type="text" class="form-control" name="top" id="top" size="100%">
            </div>
            <div class="form-group">
                <label>BOTTOM: {{ bottom_name }}<label> <br>
                <input type="text" class="form-control" name="bottom" id="bottom" size="100%">
            </div>
            <button type="submit" class="btn btn-primary" action="save_look">I like it!</button>
        </form>

      </div>
    </div>

    <h1>TOP: {{ top_name }}</h1>

    <div class="row">
    {% for image in top_images %}
      <div class="col-xs-6 col-md-2">
	<a href="#" class="thumbnail">
            <img src="/static/img/{{ image }}" onclick="getElementById('top').value = this.src; getElementById('top_img').src = this.src">
	</a>
      </div>
    {% endfor %}
    </div>

    <h1>BOTTOM: {{ bottom_name }}</h1>

    <div class="row">
    {% for image in bottom_images %}
      <div class="col-xs-6 col-md-2">
	<a href="#" class="thumbnail">
            <img src="/static/img/{{ image }}" onclick="getElementById('bottom').value = this.src; getElementById('bottom_img').src = this.src">
	</a>
      </div>
    {% endfor %}
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--
    <script src="js/bootstrap.min.js"></script>
    -->
  </body>
</html>
