<!doctype html>
<html lang="en">
  {% include 'header.html' %}
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <div class="row">
      <div class="col-xs-3 col-md-3">

        <div class="row">
        {% for position in ["top", "middle", "bottom"] %}

          <div class="col-xs-12 col-md-12">
            <img src="/favicon.ico" id="{{ position }}_img">
          </div>

        {% endfor %}
         </div>

      </div>
      <div class="col-xs-9 col-md-9">

        <form method="POST">
            {% for (position, category) in [("top", top_name), ("middle", middle_name), ("bottom", bottom_name)] %}
            <div class="form-group">
                <label>{{ position | upper }}: {{ category }}<label> <br>
                <input type="text" class="form-control" name="{{ position }}" id="{{ position }}" size="100%">
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary" action="save_look">I like it!</button>
        </form>

      </div>
    </div>

    {% for (position, category, category_images) in [("top", top_name, top_images), ("middle", middle_name, middle_images), ("bottom", bottom_name, bottom_images)] %}
    <h1>{{ position | upper }}: {{ category }}</h1>
    <div class="row">
        {% for image in category_images %}
          <div class="col-xs-6 col-md-2">
            <a href="#" class="thumbnail">
                <img src="/static/img/{{ image }}" onclick="getElementById('{{ position }}').value = this.src; getElementById('{{ position }}_img').src = this.src">
            </a>
          </div>
        {% endfor %}
    </div>

    {% endfor %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--
    <script src="js/bootstrap.min.js"></script>
    -->
  </body>
</html>
