<!doctype html>
<html lang="en">
  {% include 'header.html' %}
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <h4>There are following image types available on this site: top / middle / bottom </h4>

    generate a link for
    {% for position in ["top", "middle", "bottom"] %}

    {{ position | upper }}:
    <select id="{{ position }}_select" onchange="getElementById('look_generator').href = getElementById('look_generator').href.replace('{{ position | upper }}', this.value); getElementById('{{ position }}_select').disabled = true;">
        <option value="--">-- please choose option --</option>
        {% for image_type in image_types %}
        <option value="{{ image_type }}">{{ image_type }}</option>
        {% endfor %}
    </select>

    {% endfor %}

    <br>

    Generate looks: <a href="/{{ site }}/TOP/MIDDLE/BOTTOM" id="look_generator">link</a>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--
    <script src="js/bootstrap.min.js"></script>
    -->
  </body>
</html>
