<!doctype html>
<html lang="en">
  {% include 'header.html' %}
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <h1>There are following image types available on this site:</h1>

    <ul>
        {% for image_type in image_types %}
        <li>{{ image_type }}</li>
        {% endfor %}
    </ul>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--
    <script src="js/bootstrap.min.js"></script>
    -->
  </body>
</html>
